<div class="browse-header">
  <div class="browse-nav">

    <div class="browse-nav-user">
      <div class="browse-nav-user-name">
        Hi, Guest
      </div>
      <div class="browse-nav-logout">
        logout
      </div>
    </div>

    <div class="browse-nav-tabs">
      <div id="tabs-designs" class="tabs-text" onclick="redirect('/search/item')">designs</div>
      <div id="tabs-shops" class="tabs-text" onclick="redirect('/search/shop')">shops</div>
      <div id="tabs-checkout" class="tabs-text" onclick="redirect('/cart')">checkout</div>
    </div>
  </div>

  <div class="browse-banner">
    <p>Shapearoo</p>
  </div>

</div>