<div class="browse-header">
  <div class="browse-nav">

    <div class="browse-nav-user">
      <div class="browse-nav-user-name">
        Hi, Laufey
      </div>
      <div class="browse-nav-logout tabs-text">
        logout
      </div>
    </div>

    <div class="browse-nav-tabs">
      <div class="browse-nav-tabs-text tabs-text">your: </div>
      <div class="browse-nav-tabs-search tabs-text">search</div>
      <div class="browse-nav-tabs-shop tabs-text">shop</div>
      <div class="browse-nav-tabs-account tabs-text">account</div>
      <div class="browse-nav-tabs-orders tabs-text">orders</div>
      <div class="browse-nav-tabs-lists tabs-text">lists</div>
      <div class="browse-nav-tabs-messages tabs-text">messages</div>
      <div class="browse-nav-tabs-cart tabs-text">cart</div>
    </div>
  </div>

  <div class="browse-banner">
    <p>Shapearoo</p>
  </div>

</div>