<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/0001-head-default') %>
  <title>Shapearoo - Home</title>
</head>

<body>
  <div class="container">
    <div class="hero">
      <div class="home-menu">
        <div class="home-menu-about">About</div>
        <div class="home-menu-login">Login</div>
        <div class="home-menu-join">Join the shaperolution!</div>
      </div>
      <div class="home-menu-banner">
        <p>Shapearoo</p>
      </div>
      <div class="home-title"></div>
    </div>
    <div class="home-search">
      <div class="search-bar">
        <input class="default-text-input" type="text" placeholder="Lookup shapes ...">
        <button class="default-button">Search</button>
      </div>
      <div class="search-graphic">
        <div class="search-graphic-content">
          <p>keychain</p>
          <p>phonestand</p>
          <p>coaster</p>
          <p>hamster house</p>
          <p>keychain</p>
          <p>phonestand</p>
          <p>coaster</p>
          <p>keychain</p>
        </div>
        <div class="search-graphic-content">
          <p>coaster</p>
          <p>hamster house</p>
          <p>keychain</p>
          <p>phonestand</p>
          <p>coaster</p>
          <p>hamster house</p>
          <p>coaster</p>
          <p>phonestand</p>
        </div>
      </div>
    </div>


    <div class="items-container">

      <div class="items-display"></div>
      <div class="items-display"></div>
      <div class="items-display"></div>
      <div class="items-display"></div>
      <div class="items-display"></div>
      <div class="items-display"></div>

      <div class="items-display"></div>
      <div class="items-display"></div>
      <div class="items-display"></div>
      <div class="items-display"></div>
      <div class="items-display"></div>
      <div class="items-display"></div>

      <div class="items-display"></div>
      <div class="items-display"></div>
      <div class="items-display"></div>
      <div class="items-display"></div>
      <div class="items-display"></div>
      <div class="items-display"></div>

      <div class="items-display"></div>
      <div class="items-display"></div>
      <div class="items-display"></div>
      <div class="items-display"></div>
      <div class="items-display"></div>
      <div class="items-display"></div>

      <div class="items-display"></div>
      <div class="items-display"></div>
      <div class="items-display"></div>
      <div class="items-display"></div>
      <div class="items-display"></div>
      <div class="items-display"></div>



    </div>

    <div class="default-footer">
    </div>


  </div>


</body>

</html>