<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/0001-head-default') %>
  <title>Shapearoo - Browse</title>
</head>

<body>

  <div class="container">

    <%- include('partials/1001-browse-header-nav') %>
    <%- include('partials/1002-browse-header-search') %>

    <div class="browse-items-container">

      <div class="browse-items-display"></div>
      <div class="browse-items-display"></div>
      <div class="browse-items-display"></div>
      <div class="browse-items-display"></div>
      <div class="browse-items-display"></div>
      <div class="browse-items-display"></div>
      <div class="browse-items-display"></div>
      <div class="browse-items-display"></div>
      <div class="browse-items-display"></div>
      <div class="browse-items-display"></div>
      <div class="browse-items-display"></div>
      <div class="browse-items-display"></div>

      <div class="browse-items-display"></div>
      <div class="browse-items-display"></div>
      <div class="browse-items-display"></div>
      <div class="browse-items-display"></div>
      <div class="browse-items-display"></div>
      <div class="browse-items-display"></div>
      <div class="browse-items-display"></div>
      <div class="browse-items-display"></div>
      <div class="browse-items-display"></div>
      <div class="browse-items-display"></div>
      <div class="browse-items-display"></div>
      <div class="browse-items-display"></div>

      <div class="browse-items-display"></div>
      <div class="browse-items-display"></div>
      <div class="browse-items-display"></div>
      <div class="browse-items-display"></div>
      <div class="browse-items-display"></div>
      <div class="browse-items-display"></div>


    </div>

    <div class="default-footer">
    </div>

  </div>

</body>

</html>