<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/0001-head-default') %>
  <title>Shapearoo - Shop</title>
</head>

<body>

  <div class="container">

    <%- include('partials/1001-browse-header-nav') %>
    <%- include('partials/1002-browse-header-search') %>

    <div class="nav-back-container">
      <ion-icon class="medium-icon" name="chevron-back-outline"></ion-icon>
      <div class="nav-link"> back to search </div>
    </div>

    <div class="container-inner">

      <div class="browse-shop">
        <div class="browse-shop-images">
          <div class="browse-shop-image-top">
            <div class="browse-shop-image"></div>
            <div class="browse-shop-image"></div>
          </div>
          <div class="browse-shop-image-bottom">
            <div class="browse-shop-image"></div>
            <div class="browse-shop-image"></div>
          </div>
          <div class="browse-shop-image-large"></div>
        </div>
        <div class="browse-shop-information">
          <div class="browse-shop-information-name">
            Printaroo
          </div>
          <div class="browse-shop-information-rating">
            <div class="browse-shop-information-rating-star">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star-half-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
            </div>
            <div class="browse-shop-information-rating-text">
              (16) Ratings, (50) Prints
            </div>
          </div>
          <div class="browse-shop-information-address">
            MANHATTAN NEW YORK
          </div>
          <div class="browse-shop-information-dates">
            3d printing since 2010, joined shapearoo in 2023
          </div>
          <div class="browse-shop-information-links">
            LinkedIn, website, instagram
          </div>
          <button class="browse-shop-information-btn-select default-button">
            Select Shop
          </button>
          <p class="browse-shop-information-p">
            3D Printlife is committed to improving sustainability in 3D printing. We manufacture innovative biodegradable and eco-friendly 3d filaments in the USA, and we offer a curated collection of 3d printers, filaments, photopolymers, and accessories from some of the top manufacturers in the industry.
          </p>
          <p class="browse-shop-information-p">
            We are also the creators of Life Support, a global networking & tech support site for all things 3d printing, and we offer online, self paced 3d printing training and badge certifications from the New Collar Network.
          </p>
          <p class="browse-shop-information-p">
            3D Printlife is committed to improving sustainability in 3D printing. We manufacture innovative biodegradable and eco-friendly 3d filaments in the USA,
          </p>

          <div class="browse-shop-information-contact">
            <a href="#">Contact Shop</a>
          </div>
        </div>

        <div class="browse-shop-details">
          <div class="browse-shop-details-header">
            Shop Details
          </div>
          <div class="browse-shop-details-text">
            Available printers:
          </div>
          <div class="browse-shop-details-printers">
            <div>Prusa MK3</div>
            <div>Shapeoko</div>
            <div>makerlab</div>
            <div>formlabs</div>
          </div>
          <div class="browse-shop-details-text">
            Print options:
          </div>
          <div class="browse-shop-details-text">
            PLA
          </div>
          <div class="browse-shop-details-filament">

            <div class="browse-shop-details-filament-box">
              <div class="browse-shop-details-filament-color">
                <div>Pink</div>
                <div>Yellow</div>
                <div>Green</div>
                <div>Blue</div>
                <div>Purple</div>
                <div>Violet</div>
                <div>Magenta</div>
              </div>
              <div class="browse-shop-details-filament-price">
                $0.15/gr
              </div>
            </div>


            <div class="browse-shop-details-filament">
              <div class="browse-shop-details-filament-box">
                <div class="browse-shop-details-filament-color">
                  <div>Black</div>
                  <div>White</div>
                </div>
                <div class="browse-shop-details-filament-price">
                  $0.20/gr
                </div>
              </div>
            </div>

          </div>

          <div class="browse-shop-details-text">
            PLS
          </div>
          <div class="browse-shop-details-filament">

            <div class="browse-shop-details-filament-box">
              <div class="browse-shop-details-filament-color">
                <div>Pink</div>
                <div>Yellow</div>
                <div>Green</div>
                <div>Blue</div>
                <div>Purple</div>
                <div>Violet</div>
                <div>Magenta</div>
              </div>
              <div class="browse-shop-details-filament-price">
                $0.15/gr
              </div>
            </div>

            <div class="browse-shop-details-filament-box">
              <div class="browse-shop-details-filament-color">
                <div>Black</div>
                <div>White</div>
              </div>
              <div class="browse-shop-details-filament-price">
                $0.20/gr
              </div>
            </div>

          </div>

          <div class="browse-shop-details-text">
            Resin
          </div>
          <div class="browse-shop-details-filament">

            <div class="browse-shop-details-filament-box">
              <div class="browse-shop-details-filament-color">
                <div>Pink</div>
                <div>Yellow</div>
                <div>Green</div>
                <div>Blue</div>
              </div>
              <div class="browse-shop-details-filament-price">
                $0.35/gr
              </div>
            </div>

            <div class="browse-shop-details-filament-box">
              <div class="browse-shop-details-filament-color">
                <div>Black</div>
                <div>White</div>
              </div>
              <div class="browse-shop-details-filament-price">
                $0.40/gr
              </div>
            </div>

          </div>

        </div>
      </div>


      <div class="browse-shop-past">
        <div class="browse-shop-past-header">
          Past prints
        </div>

        <div class="browse-shop-past-images">
          <div class="browse-shop-past-img"></div>
          <div class="browse-shop-past-img"></div>
          <div class="browse-shop-past-img"></div>
          <div class="browse-shop-past-img"></div>
          <div class="browse-shop-past-img"></div>
          <div class="browse-shop-past-img"></div>
        </div>

      </div>

    </div>





</body>

</html>