<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/0001-head-default') %>
  <title>Shapearoo - Shop</title>
</head>

<body>

  <div class="container">

    <%- include('partials/1001-browse-header-nav') %>
    <%- include('partials/1002-browse-header-search') %>

    <div class="nav-back-container">
      <ion-icon class="medium-icon" name="chevron-back-outline"></ion-icon>
      <div class="nav-link"> back to search </div>
    </div>

    <div class="container-inner">

      <div class="browse-shop">
        <div class="browse-shop-images">
          <div class="browse-shop-image-top">
            <div class="browse-shop-image"></div>
            <div class="browse-shop-image"></div>
          </div>
          <div class="browse-shop-image-bottom">
            <div class="browse-shop-image"></div>
            <div class="browse-shop-image"></div>
          </div>
          <div class="browse-shop-image-large"></div>
        </div>
        <div class="browse-shop-information"></div>
        <div class="browse-shop-details"></div>
      </div class="browse-shop-past">
      <div></div>

    </div>


  </div>



</body>

</html>