<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/0001-head-default') %>
  <title>Shapearoo - Shop</title>
</head>

<body>

  <div class="container">

    <%- include('partials/1001-browse-header-nav') %>
    <%- include('partials/1002-browse-header-search') %>

    <div class="nav-back-container">
      <ion-icon class="medium-icon" name="chevron-back-outline"></ion-icon>
      <div class="nav-link"> back to search </div>
    </div>

    <div class="browse-shops">

      <div class="browse-shops-item">
        <div class="browse-shops-item-image"></div>
        <div class="browse-shops-item-information">
          <div class="browse-shops-item-name">
            Printaroo
          </div>
          <div class="browse-shops-item-rating">
            <div class="browse-shops-item-rating-star">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star-half-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
            </div>
            <div class="browse-shops-item-rating-text">
              (16) Ratings, (50) Prints
            </div>
          </div>
          <div class="browse-shops-item-address">
            Upper West Side, Manhattan, NY
          </div>
          <div class="browse-shops-item-filament">
            <div>PLA</div>
            <div>PLS</div>
            <div>Resin</div>
          </div>
          <div class="browse-shops-item-price">
            <div>$0.75/gr</div>
            <div>-</div>
            <div>$2.50/gr</div>
          </div>
          <div class="browse-shops-item-delivery">
            <div>pickup</div>
            <div>|</div>
            <div>delivery</div>
          </div>

          <div class="browse-shops-item-buttons">
            <button class="browse-shops-item-btn default-button">Select Shop</button>
            <button class="browse-shops-item-btn default-button">Profile</button>

          </div>

        </div>
      </div>




      <div class="browse-shops-item">
        <div class="browse-shops-item-image"></div>
        <div class="browse-shops-item-information">
          <div class="browse-shops-item-name">
            Printaroo
          </div>
          <div class="browse-shops-item-rating">
            <div class="browse-shops-item-rating-star">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star-half-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
            </div>
            <div class="browse-shops-item-rating-text">
              (16) Ratings, (50) Prints
            </div>
          </div>
          <div class="browse-shops-item-address">
            Upper West Side, Manhattan, NY
          </div>
          <div class="browse-shops-item-filament">
            <div>PLA</div>
            <div>PLS</div>
            <div>Resin</div>
          </div>
          <div class="browse-shops-item-price">
            <div>$0.75/gr</div>
            <div>-</div>
            <div>$2.50/gr</div>
          </div>
          <div class="browse-shops-item-delivery">
            <div>pickup</div>
            <div>|</div>
            <div>delivery</div>
          </div>

          <div class="browse-shops-item-buttons">
            <button class="browse-shops-item-btn default-button">Select Shop</button>
            <button class="browse-shops-item-btn default-button">Profile</button>

          </div>

        </div>
      </div>




      <div class="browse-shops-item">
        <div class="browse-shops-item-image"></div>
        <div class="browse-shops-item-information">
          <div class="browse-shops-item-name">
            Printaroo
          </div>
          <div class="browse-shops-item-rating">
            <div class="browse-shops-item-rating-star">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star-half-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
            </div>
            <div class="browse-shops-item-rating-text">
              (16) Ratings, (50) Prints
            </div>
          </div>
          <div class="browse-shops-item-address">
            Upper West Side, Manhattan, NY
          </div>
          <div class="browse-shops-item-filament">
            <div>PLA</div>
            <div>PLS</div>
            <div>Resin</div>
          </div>
          <div class="browse-shops-item-price">
            <div>$0.75/gr</div>
            <div>-</div>
            <div>$2.50/gr</div>
          </div>
          <div class="browse-shops-item-delivery">
            <div>pickup</div>
            <div>|</div>
            <div>delivery</div>
          </div>

          <div class="browse-shops-item-buttons">
            <button class="browse-shops-item-btn default-button">Select Shop</button>
            <button class="browse-shops-item-btn default-button">Profile</button>

          </div>

        </div>
      </div>




      <div class="browse-shops-item">
        <div class="browse-shops-item-image"></div>
        <div class="browse-shops-item-information">
          <div class="browse-shops-item-name">
            Printaroo
          </div>
          <div class="browse-shops-item-rating">
            <div class="browse-shops-item-rating-star">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star-half-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
            </div>
            <div class="browse-shops-item-rating-text">
              (16) Ratings, (50) Prints
            </div>
          </div>
          <div class="browse-shops-item-address">
            Upper West Side, Manhattan, NY
          </div>
          <div class="browse-shops-item-filament">
            <div>PLA</div>
            <div>PLS</div>
            <div>Resin</div>
          </div>
          <div class="browse-shops-item-price">
            <div>$0.75/gr</div>
            <div>-</div>
            <div>$2.50/gr</div>
          </div>
          <div class="browse-shops-item-delivery">
            <div>pickup</div>
            <div>|</div>
            <div>delivery</div>
          </div>

          <div class="browse-shops-item-buttons">
            <button class="browse-shops-item-btn default-button">Select Shop</button>
            <button class="browse-shops-item-btn default-button">Profile</button>

          </div>

        </div>
      </div>




      <div class="browse-shops-item">
        <div class="browse-shops-item-image"></div>
        <div class="browse-shops-item-information">
          <div class="browse-shops-item-name">
            Printaroo
          </div>
          <div class="browse-shops-item-rating">
            <div class="browse-shops-item-rating-star">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star-half-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
            </div>
            <div class="browse-shops-item-rating-text">
              (16) Ratings, (50) Prints
            </div>
          </div>
          <div class="browse-shops-item-address">
            Upper West Side, Manhattan, NY
          </div>
          <div class="browse-shops-item-filament">
            <div>PLA</div>
            <div>PLS</div>
            <div>Resin</div>
          </div>
          <div class="browse-shops-item-price">
            <div>$0.75/gr</div>
            <div>-</div>
            <div>$2.50/gr</div>
          </div>
          <div class="browse-shops-item-delivery">
            <div>pickup</div>
            <div>|</div>
            <div>delivery</div>
          </div>

          <div class="browse-shops-item-buttons">
            <button class="browse-shops-item-btn default-button">Select Shop</button>
            <button class="browse-shops-item-btn default-button">Profile</button>

          </div>

        </div>
      </div>





      <div class="browse-shops-item">
        <div class="browse-shops-item-image"></div>
        <div class="browse-shops-item-information">
          <div class="browse-shops-item-name">
            Printaroo
          </div>
          <div class="browse-shops-item-rating">
            <div class="browse-shops-item-rating-star">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star-half-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
            </div>
            <div class="browse-shops-item-rating-text">
              (16) Ratings, (50) Prints
            </div>
          </div>
          <div class="browse-shops-item-address">
            Upper West Side, Manhattan, NY
          </div>
          <div class="browse-shops-item-filament">
            <div>PLA</div>
            <div>PLS</div>
            <div>Resin</div>
          </div>
          <div class="browse-shops-item-price">
            <div>$0.75/gr</div>
            <div>-</div>
            <div>$2.50/gr</div>
          </div>
          <div class="browse-shops-item-delivery">
            <div>pickup</div>
            <div>|</div>
            <div>delivery</div>
          </div>

          <div class="browse-shops-item-buttons">
            <button class="browse-shops-item-btn default-button">Select Shop</button>
            <button class="browse-shops-item-btn default-button">Profile</button>

          </div>

        </div>
      </div>

    </div>


    <div class="default-footer">
    </div>



</body>

</html>