<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/0001-head-default') %>
  <title>Shapearoo - Shop</title>
</head>

<body>

  <div class="container">

    <%- include('partials/1001-browse-header-nav') %>
    <%- include('partials/1002-browse-header-search') %>

    <div class="nav-back-container">
      <ion-icon class="medium-icon" name="chevron-back-outline"></ion-icon>
      <div class="nav-link"> back to search </div>
    </div>

    <div class="container-inner">

      <div class="designer-profile">
        <div class="designer-profile-image-left">
          <div class="designer-profile-image"></div>
          <div class="designer-profile-image"></div>
        </div>
        <div class="designer-profile-image-left">
          <div class="designer-profile-image"></div>
          <div class="designer-profile-image"></div>
        </div>
        <div class="designer-profile-image-middle">
          <div class="designer-profile-image-large"></div>
        </div>
        <div class="designer-profile-information">
          <div class="designer-profile-name">
            Hantaro2233
          </div>
          <div class="designer-profile-dates">
            Product designer since 2016, joined shapearoo in 2023
          </div>
          <div class="designer-profile-links">
            LinkedIn, website, instagram
          </div>
          <div class="designer-profile-bio">
            3D Printlife is committed to improving sustainability in 3D printing. We manufacture innovative biodegradable and eco-friendly 3d filaments in the USA, and we offer a curated collection of 3d printers, filaments, photopolymers, and accessories from some of the top manufacturers in the industry.
          </div>
          <div class="designer-profile-contact">
            <a href="#"> Contact Designer</a>
          </div>
        </div>
      </div>

      <div class="designer-designs">
        <div class="designer-designs-header">
          Designs
        </div>
        <div class="designer-items">
          <div class="designer-item">
            <div class="designer-item-image"></div>
            <div class="designer-item-label">
              <div class="designer-item-description">
                <div class="designer-item-name">
                  Eiffel Tower Keychain
                </div>
                <div class="designer-item-creator">
                  by Hantaro2233
                </div>
              </div>
              <button class="designer-item-btn-add default-button">+</button>
            </div>
          </div>

          <div class="designer-item">
            <div class="designer-item-image"></div>
            <div class="designer-item-label">
              <div class="designer-item-description">
                <div class="designer-item-name">
                  Eiffel Tower Keychain
                </div>
                <div class="designer-item-creator">
                  by Hantaro2233
                </div>
              </div>
              <button class="designer-item-btn-add default-button">+</button>
            </div>
          </div>

          <div class="designer-item">
            <div class="designer-item-image"></div>
            <div class="designer-item-label">
              <div class="designer-item-description">
                <div class="designer-item-name">
                  Eiffel Tower Keychain
                </div>
                <div class="designer-item-creator">
                  by Hantaro2233
                </div>
              </div>
              <button class="designer-item-btn-add default-button">+</button>
            </div>
          </div>

          <div class="designer-item">
            <div class="designer-item-image"></div>
            <div class="designer-item-label">
              <div class="designer-item-description">
                <div class="designer-item-name">
                  Eiffel Tower Keychain
                </div>
                <div class="designer-item-creator">
                  by Hantaro2233
                </div>
              </div>
              <button class="designer-item-btn-add default-button">+</button>
            </div>
          </div>

          <div class="designer-item">
            <div class="designer-item-image"></div>
            <div class="designer-item-label">
              <div class="designer-item-description">
                <div class="designer-item-name">
                  Eiffel Tower Keychain
                </div>
                <div class="designer-item-creator">
                  by Hantaro2233
                </div>
              </div>
              <button class="designer-item-btn-add default-button">+</button>
            </div>
          </div>
        </div>


      </div>



    </div>





</body>

</html>